<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Země Světa — studentská verze</title>
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styl.css">
</head>

<body>

<header class="hlavicka">
  <div class="vnitrni-hlavicka">
    <h1 class="nazev-stranky">Země Světa</h1>
  </div>
</header>

<main class="hlavni-obsah">

  <div class="oblast-tabulky">

    <table>
      <thead>
        <tr>
          <th>ID</th><th>Název Země</th><th>Hlavní město</th><th>Rozloha</th><th>Počet obyvatel</th>
        </tr>
      </thead>
      <tbody>
        {{rows}}
      </tbody>
    </table>

 

    <form id="createForm">
        <div class="row">
          <label>Název Země:</label><br />
          <input type="text" required />
        </div>
        <div class="row">
          <label>Hlavní město:</label><br />
          <input type="text" required />
        </div>
        <div class="row">
            <label>Rozloha:</label><br />
            <input type="text" required />
          </div>
          <div class="row">
            <label>Počet obyvatel::</label><br />
            <input type="number" min="0" required />
          </div>
          <div class="tlacitko">
            <button class="btn-pridat"></a>Přidat</button>
          </div>
      </form>

   

  </div>

</main>

<footer class="geo-footer">
  <div class="footer-content">
    <p>© Všechna práva vyhrazena</p>
    <p>Vytvořil David Svoboda</p>
  </div>
</footer>

</body>
</html>